# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Gonzalo Robaina
	email = gonzalor@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILfRvvq0EQgKbXxLxGdvL/LK2o4O3mpTopA0zKsUz2V3
[core]
	excludesfile = /Users/pepito2k/.gitignore_global
[alias]
	cleanup = !git branch -vv | grep -v 'origin/.*]' | awk '{print $1}' | xargs git branch -d
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
